html {
    box-sizing: border-box;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    height: auto;
    background-image: url("https://media.giphy.com/media/ZYlo3CemE5lHG/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

header {
    height: 100vh;
}

#about {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#about h1 {
    font-size: 2.2em;
    font-family: 'Pacifico', cursive;
}

#about p {
    text-align: center;
    width: 50%;
    font-size: 1.2em;
}

#about #profile-shot {
    background: url("./media/signal-2019-04-19-095051.jpg");
    height: 128px;
    width: 128px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: solid 2px grey;
    transform: rotate(2.5deg) scale(1.25); 
}

#slide-down:hover {
    opacity: 0.7;
}

/* #navbar > ul {
    height: 15vh;
    width: 100%;
    padding: 5px;
} */

#nav-ul {
    height: 15vh;
    width: 100%;
    padding: 5px;
    background: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    
}

main {
    height: 100vh;
    margin-top: 20vh;
}

#nav-ul.stick {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

h2 {
    color: #fff;
    text-align: center;
    margin: 50px 0;
    font-size: 1.5em;
}

.container {
    width: 70%;
    margin: 0 auto;
    border: 2px solid #bbb;
    background-color: #bbb;
}

.carousel-item > div {
    height: 10px;
    line-height: 10px;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    margin-bottom: 10vh;
}

/* VVVVVVVVVVVVVVVVVVVVVVVVVVV */
/* CHANGING PHOTOS IN CAROUSEL */
/* VVVVVVVVVVVVVVVVVVVVVVVVVVV */

.item-1 {
    background-image: url('./media/MHS_logo.png'), url('./media/HearUSA_logo.png'), url('./media/WSAudiology_logo2.png');
    background-size: contain;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center, center, center;
}

.item-2 {
    background-image: url('./media/birdsongTablet.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.item-3 {
    background-image: url('./media/Deploying-Buoy2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.item-4 {
    background-image: url('./media/MoteMarineLogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.item-5 {
    background-image: url('./media/dev-mountain-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* .item-6 {
    background-color: #FF4500;
} */

/* Carousel */

/* VVVVVVVVVVVVVVVVVVVVVVVVVVV */
/* CHANGING CAROUSEL SPACING  */
/* VVVVVVVVVVVVVVVVVVVVVVVVVVV */

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    border: solid black;
}

.carousel-container {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    /* width = 100 x number of pages in carousel */
    width: 500%;
    transition: transform 0.3s cubic-bezier(.694, .0482, .335, 1);
}

.carousel-item {
    position: relative;
    float: left;
    /* divide 100 by number of carousel pages */
    width: 20%;
}


.carousel-item h3 {
    margin: 3px;
    width: 100%;
    text-align: center;
    font-size: 1.25em;
    color: black;
}

.carousel-item p {
    width: 100%;
    padding: 10px 10%;
    text-align: center;
    font-size: 1em;
    color: black;
}

/* Next / Prev Buttons */

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 45%;
    background-image: url('./media/icons8-expand-arrow-64.png');
    opacity: 0.7;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    z-index: 9;
    transition: opacity 0.3s ease;
}

.carousel-prev {
    left: 2%;
    padding-right: 3px;
    -webkit-transform: rotate(90deg) scale(0.5);
    transform: rotate(90deg) scale(0.5);
}

.carousel-next {
    right: 2%;
    padding-left: 3px;
    -webkit-transform: rotate(270deg) scale(0.5);
    transform: rotate(270deg) scale(0.5);
}

.carousel-prev:hover,
.carousel-next:hover {
    opacity: 1;
}

/* Pagination */

.carousel-pagination {
    list-style: none;
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 10;
}

.carousel-bullet {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #000;
    cursor: pointer;
    margin: 0 7px;
    border-radius: 50%;
    opacity: 0.5;
    transition-property: transform, opacity, background-color;
    transition-duration: 0.3s;
}

.carousel-bullet:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.carousel-bullet.active-bullet, 
.carousel-bullet.active-bullet:hover {
    opacity: 1;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    background-color: #fff;
    cursor: default;
}
